extends layout

block content
  h1= title

  form(id='JacketForm', action="/resource/jackets", method="POST")
    div.form-group
      label.costumeAttr(for='size') Jacket Size 
      input#costume_type(type='text', name='size')
    div.form-group
      label.costumeAttr(for='colour') Jacket Colour
      input#size(type='text', name='colour')
    div.form-group
      label.costumeAttr(for='price') Jacket Price
      input#cost(type='number', name='price')
    input(type="submit")

  script.
    document.forms['JacketForm'].addEventListener('submit', (event) => {
     event.preventDefault();
     // TODO do something here to show user that form is being submitted
     fetch(event.target.action, {
      method: 'POST',
      body: new URLSearchParams(new FormData(event.target)) // event.target is the form
     }).then((resp) => {
      return resp.json(); // or resp.text() or whatever the server sends
     }).then((body) => {
      alert("Save succeded")
     // TODO handle body
     }).catch((error) => {
     // TODO handle error
     alert("Save failed " + error )
     });
   });